{% extends 'home.html' %}

{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'alumniCSS.css' %}">
{% endblock cssStatic %}

{% block post1 %}
    <div class="col pt-2 mt-5" >

                    <div class="main shadow pb-2" style="background-color:white">

                        <ul class="nav nav-tabs" >
                        <li class="nav-item">
                            <a class="nav-link" href="postAlumni" style="color:#007bff">Alumni</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="postStack" style="color:#007bff">StackOverflow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="askAlumni" style="color:grey">Ask Alumni</a>
                        </li>                          
                        </ul>

                        {% comment %} this is blogPost  {% endcomment %}

                        <div class="card-body">
						<table class="table table-striped" style="width:100%">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Company</th>
									<th>Email</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Garrett Winters</td>
									<td>Good Guys</td>
									<td>garrett@winters.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Ashton Cox</td>
									<td>Levitz Furniture</td>
									<td>ashton@cox.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Sonya Frost</td>
									<td>Child World</td>
									<td>sonya@frost.com</td>
									<td><span class="badge bg-danger">Deleted</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Jena Gaines</td>
									<td>Helping Hand</td>
									<td>jena@gaines.com</td>
									<td><span class="badge bg-warning">Inactive</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Charde Marshall</td>
									<td>Price Savers</td>
									<td>charde@marshall.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Haley Kennedy</td>
									<td>Helping Hand</td>
									<td>haley@kennedy.com</td>
									<td><span class="badge bg-danger">Deleted</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Tatyana Fitzpatrick</td>
									<td>Good Guys</td>
									<td>tatyana@fitzpatrick.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Michael Silva</td>
									<td>Red Robin Stores</td>
									<td>michael@silva.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Angelica Ramos</td>
									<td>The Wiz</td>
									<td>angelica@ramos.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Jennifer Chang</td>
									<td>Helping Hand</td>
									<td>jennifer@chang.com</td>
									<td><span class="badge bg-warning">Inactive</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Brenden Wagner</td>
									<td>The Wiz</td>
									<td>brenden@wagner.com</td>
									<td><span class="badge bg-warning">Inactive</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Fiona Green</td>
									<td>The Sample</td>
									<td>fiona@green.com</td>
									<td><span class="badge bg-warning">Inactive</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Prescott Bartlett</td>
									<td>The Sample</td>
									<td>prescott@bartlett.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Gavin Cortez</td>
									<td>Red Robin Stores</td>
									<td>gavin@cortez.com</td>
									<td><span class="badge bg-success">Active</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Howard Hatfield</td>
									<td>Price Savers</td>
									<td>howard@hatfield.com</td>
									<td><span class="badge bg-warning">Inactive</span></td>
								</tr>
							</tbody>
						</table>
					</div>
                    
                    {% comment %} end main {% endcomment %}
                </div> 
                
            </div>

{% endblock post1 %}