{% extends 'home.html' %}

{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'alumniCSS.css' %}">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script>
		$(document).ready(function(){
		$("#ifNotCuss").hide()
		$("#sendToProfanityCheck").click(function(){
				$.ajax({
					url: "askAlumni",
					type: "get",
					data: {
						userPost : $("#myText").val()
					},
					success: function(response){
						if (response.Cuss != "1"){
							$("#ifCuss").text(response.Cuss)
						}
						else{
							$("#ifNotCuss").show();
							$("#ifCuss").hide();
							

						}
					}

				});

			});
		
		});
	</script>


{% endblock cssStatic %}
	

{% block post1 %}
    <div class="col pt-2 mt-5" >

		<div class="main shadow pb-2" style="background-color:white">

			<ul class="nav nav-tabs" >
			<li class="nav-item">
				<a class="nav-link" href="postAlumni" style="color:#007bff">Alumni</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link " href="postStack" style="color:#007bff">StackOverflow</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="askAlumni" style="color:grey">Ask Alumni</a>
			</li>                          
			</ul>

			<div class="card-body">
			<table class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Email</th>
						<th>Action</th>
						
					</tr>
				</thead>
				<tbody>
					{% for i,j,k in info %}
					<tr>
						<td><img src="https://bootdey.com/img/Content/avatar/avatar{{j}}.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
						<td>{{i}}</td>
						<td>{{k}}</td>
						<td>
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#askQ">
							Message
							</button>

							<!-- Modal -->

							<div class="modal fade" id="askQ" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalCenterTitle">Ask</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								
								<div class="modal-body">
									<textarea id="myText" class="form-control" aria-label="With textarea" placeholder="Put Your Questions here"></textarea>
								</div>

								<div class="modal-footer">
								<p id="ifCuss" style="color:red"></p>
								<p id="ifNotCuss" style="color:green">Question Posted</p>
									<button id="sendToProfanityCheck" type="button" class="btn btn-primary">Post</button>
								</div>
								</div>
							</div>
							</div>
						</td>
						
						{% comment %} <td><span class="badge bg-success">Active</span></td> {% endcomment %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		{% comment %} end main {% endcomment %}
	</div>           
    </div>



{% endblock post1 %}
