{% extends 'boilerPlate.html' %}
    {% block boilerBody %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">ask-it</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Hi {{dynamicUserName}} <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <a class="nav-link" style="color:white" href="#">Log Out</a>
          </div>
<form method="POST" action="">
  {% csrf_token %}
  <div class="input-group my-2 mr-5">
        <input type="text" class="form-control" name="searchInput" placeholder="put query or errorcode" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-success" type="button" id="button-addon2">Search</button>
        <p>{{abc}}</p>
    </div>  
  

  </div>
</form>
      {% comment %} <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> {% endcomment %}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </nav>


        {% block body %}

        {% endblock body %}
    
    {% endblock boilerBody %}