{% extends 'boilerplate.html' %}
{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock cssStatic %}
{% block boilerBody %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">Ask-it</a>
</nav>

<div class="container ">
  <div class="title">Choose User Type</div>
  <br>
    <div class="row">
        <div class="col text-center" >
            <a href="reg1/1">
                <h1>Alumni</h1>
            </a>
        </div>
        <div class="col text-center" >
            <a href="reg1/2">
                <h1>Student</h1>
            </a>
        </div>
    </div>  
  </div>
</div>
{% endblock boilerBody %}

  
