
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ask-it</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
</head>

<body id="page-top">

    
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand"><a class="nav-link active js-scroll-trigger" href="#page-top">Brand</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#page-top">Home</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background-image:url({% static 'assets/img/bg-masthead.jpg' %});">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Ask-it</h1>
            <h3 class="mb-5"><em>TO YOUR ALUMNI</em></h3>
            <div class="overlay"></div>
        </div>
    </header>
    <section class="bg-light content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Ask any Technical or Academic doubts&nbsp;</h2>
                    <p class="lead mb-5"><span>Your very own Alumni to help you at your finger-tips</span><a href="https://unsplash.com/"></a><span>!</span></p><a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="/accounts/login">Login</a>
                </div>
            </div>
        </div>
    </section>
    <section class="callout" style="background:linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(&quot;assets/img/bg-callout.jpg&quot;);background-position:center center;background-repeat:no-repeat;background-size:cover;">
        <div class="container text-center">
            <h2 class="mx-auto mb-5"><span><br>Not a member yet?<br></span></h2><a class="btn btn-primary btn-xl" role="button" href="/register1">Register Now !</a>
        </div>
    </section>


    
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
</body>

</html>