{% extends 'home.html' %}

{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock cssStatic %}



{% block post1 %}
    <div class="col pt-2 mt-5" >

                    <div class="main shadow pb-2" style="background-color:white">

                        <ul class="nav nav-tabs" >
                        <li class="nav-item">
                            <a class="nav-link active" href="/postAlumni" style="color:grey">Alumni</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/postStack" style="color:#007bff">Google</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/askAlumni" style="color:#grey">Ask Alumni</a>
                        </li>                        
                        </ul>

                        {% comment %} this is blogPost  {% endcomment %}

                        {% for i,j,k in info  %}
                        <div class="border border-info rounded m-1 p-2 ">
                          <a href="answers/{{i}}">{{j}}</a>
                          <p style="font-size:12px">12/3/2021</p>
                                                    <p style="font-size:12px">{{ppl}}</p>
                          <p>
                            {{k}}
                          </p>
                        </div>                        
                        {% endfor %}

                    
                    {% comment %} end main {% endcomment %}
                </div> 
                
            </div>

{% endblock post1 %}