{% extends 'home.html' %}

{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock cssStatic %}

{% block post1 %}
    <div class="col pt-2 mt-5" >

                    <div class="main shadow pb-2" style="background-color:white">

                        <ul class="nav nav-tabs" >
                        <li class="nav-item">
                            <a class="nav-link" href="postAlumni" style="color:#007bff">Alumni</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="postStack" style="color:grey">Google</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="askAlumni" style="color:#grey">Ask Alumni</a>
                        </li>                          
                        </ul>

                        {% comment %} this is blogPost  {% endcomment %}

                        {% for i in result %}
                        <div class="border border-info rounded m-1 p-2 ">
                          <a href="{{i.link}}" target="_blank" rel="noopener noreferrer">{{i.title}}</a>
                          <p>
                            {{i.text}}
                          </p>
                        </div>                        
                        {% endfor %}

                    
                    {% comment %} end main {% endcomment %}
                </div> 
                
            </div>

{% endblock post1 %}