{% extends 'boilerplate.html' %}
{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reg.css' %}">
{% endblock cssStatic %}
{% block boilerBody %}


<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">Ask-it</a>
</nav>

<div class="container">
  <div class="title">Documents</div>
        <form action="login" method="POST">{% csrf_token %}
          <div class="row">
              <div class = "col mt-2" >     
              </div>
              <div class = "col mt-2" > 
                <label for="formFileLg" class="form-label">Upload Your Marksheet</label>
                <div class="btn btn-success btn-sm">
                  <input type="file">
                </div>
              </div>
              <div class = "col mt-2" > 
              </div>
          </div>

          <div class="row">
              <div class = "col-5 mt-2" >     
              </div>
              <div class = "col mt-2" > 
                <button type="button" class="btn btn-warning">Verify</button>
              </div>
              <div class = "col-5 mt-2" > 
              </div>
          </div>

  <div class="title">Experience</div>
  <br>
            <div class="user-details">
              <div class="input-box">
                <span class="details">Skills</span>
                <input type="text" name="skills" placeholder="Eg. python, Django, React, C++..." required>
              </div>
              <div class="input-box">
                <span class="details">Current Company</span>
                <input type="text" name="CurrComp" placeholder="Company Name" required>
              </div>
              <div class="input-box">
                <span class="details">Year Of Graduation</span>
                <input type="text" name="YoG" placeholder="Eg. 2019.." required>
              </div>
              <div class="input-box">
                <span class="details">If pursued Masters please name the course</span>
                <input type="text" name="course" placeholder="Name of your Course" required>
              </div>
              <div class="input-box">
                <span class="details">Masters University</span>
                <input type="text" name="university" placeholder="masters pursued in University" required>
              </div>
              
              <div class="row">
                <div class = "col mt-5" > 
                    
                </div>
                <div class = "col-xs-1 center-block mt-5"> 
                    <div class="btn-group " role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-primary">NEXT</button>
                    </div>
                </div>
                <div class = "col mt-5" > 
                </div>
            </div>
            </div>
    </form>
</div>
{% endblock boilerBody %}
  
  
  
  
