{% extends 'boilerplate.html' %}
{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock cssStatic %}
{% block boilerBody %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
		$(document).ready(function(){
      $("#loader").hide()
		$("#verify").click(function(){
				$("#loader").show()
        $("#alert").text("")
			});
		});
	</script>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">Ask-it</a>
</nav>

<div class="container ">
  <div class="title">Documents</div>
  <br>
    <label for="formFileLg" class="form-label">Upload Your Marksheet</label>
            
    <form method="post" enctype="multipart/form-data">{% csrf_token %}	
	      <div class="custom-file">
          <div class="btn btn-success btn-sm float-left">
                <input type="file" id="customFile" name="document">
          </div>
          
          <div>
          <img id="loader" class="m-1 float-center" src="{% static 'loader.gif' %}" width="45px">
          <br>
          
          </div>

				</div> 	
        <p id="alert" class="float-left" style="color:red">{{err}}</p>
        <button class="btn btn-warning float-right" type="submit" id="verify">Verify</button>
	  </form>     
  </div>
</div>
{% endblock boilerBody %}

  
