{% extends 'boilerplate.html' %}
{% block cssStatic %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>

{% endblock cssStatic %}
{% block boilerBody %}
<head>
  <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
  <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/savanihd/multi-select-autocomplete/master/style.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="https://raw.githubusercontent.com/savanihd/multi-select-autocomplete/master/autocomplete.multiselect.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">Ask-it</a>
  </nav>

  <div class="container">
    <div class="title">Experience</div>
    <br>
      <form method="POST" action="/reg2">
        <div class="user-details">
          <div id="autocomplete" class="autocomplete">
            <span class="details">Skills</span>
            <div id="sk" >
            </div>
            <!--<input type="text" class="autocomplete-input" id="skills" name="skills" placeholder="Eg. python, Django, React, C++..." required/>-->
            <input class="autocomplete-input" id="skill" />
            <div class="input"></div>
            <ul class= "autocomplete-result-list"></ul>
          </div>
          <div class="input-box">
            <span class="details">Current Company</span>
            <input type="text" name="CurrComp" placeholder="Company Name" required>
          </div>
          <div class="input-box">
            <span class="details">Year Of Graduation</span>
            <input type="text" name="YoG" placeholder="Eg. 2019.." required>
          </div>
          <div class="input-box">
            <span class="details">If pursued Masters please name the course</span>
            <input type="text" name="course" placeholder="Name of your Course" required>
          </div>
          <div class="input-box">
            <span class="details">Masters University</span>
            <input type="text" name="university" placeholder="masters pursued in University" required>
          </div>
          
          <div class="row">
            <div class = "col mt-5" > 
                
            </div>
            <div class = "col-xs-1 center-block mt-5"> 
                <div class="btn-group " role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-primary">NEXT</button>
                </div>
            </div>
            <div class = "col mt-5" > 
            </div>
        </div>
        </div>
      </form>
  </div>

  <!--<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
  <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  -->
  <script>
    var skillslist=[]

    new Autocomplete('#autocomplete', {
      search:input=>{
        console.log(input)
        const url = `/searchSkill/?skill=${(input)}`
        return new Promise(resolve=>{
          fetch(url)
          .then(response=> response.json())
          .then(data=>{
            console.log(data)
            resolve(data.data)
          });


          });
        
    },
    onSubmit: result=>{
      console.log(result)
      var output="";
      skillslist.push(result)
      $.ajax({
            url: "reg2",
            type: "POST",
            data: {
              'skillslist' : result
            },
            success: function(response){
              console.log(skillslist)
              console.log(result)
              for (i=0;i<skillslist.length;i++){
                output+='<h5 class="badge badge-pill badge-success">'+
                  skillslist[i]+'</h5>  ';
              }
              $("#sk").html(output);
              $("#skill.autocomplete-input").val("");
            }
   
    });
    

  }
    
  });

  </script>

</body>
{% endblock boilerBody %}