{% extends 'boilerPlate.html' %}
{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock cssStatic %}
{% block body %}
<body class="text-center">

{% csrf_token %}
<div class="container" style = "background-color:#445c61; border-radius:10px 10px 10px 10px">
    
    <div class="row">
        <div class = "col m-5" > 
            <input type="text" id="inputEmail" class="form-control" placeholder="Name" required="" autofocus="">
        </div>
        <div class = "col m-5" style = "background-color:blue"> 
        </div>
    </div>
</div>   
</body>

{% endblock body %}

