{% extends 'boilerplate.html' %}
{% block cssStatic %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock cssStatic %}
{% block boilerBody %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
		$(document).ready(function(){
      var str2 = "student";
      var str1;
      if ($("#userType").val()=="student"){
        str1 = $("#emailType").val();
        if(str1.indexOf(str2) == -1){
            $("#alert").text("pls enter sfit email id")
        }
      }
		});
	</script>


<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">Ask-it</a>
</nav>

<div class="container">
  <div class="title">Registration</div>
  <form action="register2" method="POST">
  {% csrf_token %}
  <div class="row">
              <div class = "col mt-5" > 
                  
              </div>
              <div class = "col-xs-1 center-block mt-5">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Alumni</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Student</label>
                  </div>

              </div>
              <div class = "col mt-5" > 
              </div>
          </div>
            <div class="user-details">
              <div class="input-box">
                <span class="details">Alumni / Student</span>
                <input id="userType" type="text" name="uType" placeholder="eg. alumni " required>
              </div>
              <div class="input-box">
                <span class="details">First Name</span>
                <input type="text" name="fName" placeholder="Enter your first name" required>
              </div>
              <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" name="lName" placeholder="Enter your last name" required>
              </div>
              <div class="input-box">
                <span class="details">Username</span>
                <input type="text" name="userName" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input id="emailType" type="text" name="email" placeholder="Enter your email" required>
                <p id="alert"></p>
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" name="phoneNumber" placeholder="Enter your number" required>
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input type="password" name="pass" placeholder="Enter your password" required>
              </div>

              <div class="row">
                <div class = "col mt-5" > 
                    
                </div>
                <div class = "col-xs-1 center-block mt-5"> 
                    <div class="btn-group " role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-primary">NEXT</button>
                    </div>
                </div>
                <div class = "col mt-5" > 
                </div>
            </div>
            </div>
      </form>
            
</div>
{% endblock boilerBody %}
  
  
  
  
